# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site
_app

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
#.idea # Adding back per https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Misc
